@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
	--background: #ededed;
	--foreground: #131313;
	--text-black: #181b20;
}


/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #131313;
    --foreground: #ededed;

    --text-white: #181b20;
    --text-black: #f0f0f0;
  }
} */

body {
	background: var(--background);
	color: var(--foreground);
	font-family: Arial, Helvetica, sans-serif;
}

@keyframes gradient-move {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.animate-gradient-move {
  animation: gradient-move 5s ease infinite;
}


.section-title {
  @apply text-4xl font-bold bg-gradient-to-r from-blue-500 via-blue-400 to-violet-600 bg-clip-text text-transparent text-center;
}
.btn-primary {
  @apply px-4 py-2 rounded bg-blue-600 text-white font-bold hover:bg-blue-700 transition;
}
.section-container {
  @apply p-10 gap-15 w-full flex flex-col items-center justify-center relative bg-white dark:bg-black;
}
.card {
  @apply shadow-lg rounded-lg p-6 bg-white dark:bg-gray-800;
}
.text-secondary {
  @apply text-xl text-justify text-slate-500;
}